body {
  font-family: Arial, sans-serif;
  color: #f4f4f4;
  margin: 0;
  padding: 0;
  background: url('background.jpg') no-repeat center center fixed; 
  background-size: cover;
}

body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.15); /* Dark transparent overlay */
  z-index: -1; /* Ensure it stays behind all content */
}

header {
  color: #ffcc00;
  padding: 20px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.2); /* Slightly less transparent black */
}

header h1 {
  margin: 0;
  font-size: 2.5em;
}

header h2 {
  margin: 10px 0 0;
  font-size: 1.5em;
  color: #ffffff;
}



nav {
  background-color: rgba(51, 51, 51, 0.4); /* Transparent dark gray */
  padding: 10px;
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

nav ul li a {
  text-decoration: none;
  color: #ffcc00;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav ul li a:hover {
  color: #ffffff;
}

section {
  padding: 20px;
  margin: 20px;
  background-color: rgba(42, 42, 42, 0.15); /* Transparent dark gray */
  border-radius: 8px;
  color: #f5f2f2;
}

section h2 {
  color: #ffcc00;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.feature-card, .card {
  background-color: rgba(51, 51, 51, 0.2); /* Transparent dark gray */
  border: 1px solid #444;
  border-radius: 8px;
  padding: 20px;
  flex: 1 1 calc(50% - 40px);
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
}

.feature-card img {
  width: 100%;
  border-bottom: 1px solid #444;
}

.feature-card h3, .card h2 {
  color: #ffcc00;
}

.feature-card:hover {
  transform: scale(1.05);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  background-color: #444; /* Slightly lighter shade or a different color */
}


.video-container {
  text-align: center;
}

video-item iframe {
  border-radius: 8px;
}

ul {
  padding-left: 20px;
}

ul li {
  color: #ccc;
}